.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 31.5rem;
  width: 100%;
  height: 5.6rem;
  background: var(--Navy-950);
  border-radius: 12.8rem;
  color: var(--White);
  font-family: var(--Bold);
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.button:hover {
  background: linear-gradient(
    180deg,
    var(--Light-Slate-Blue-Background) 0%,
    var(--Light-Royal-Blue-Background) 100%
  );
  cursor: pointer;
}

@media (min-width: 48em) {
  .button {
    width: 26.8rem;
  }
}

@media (min-width: 90em) {
  .button {
    width: 28.8rem;
  }
}
