.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 3.2rem 5.75rem;
  background: linear-gradient(
    180deg,
    var(--Light-Slate-Blue-Background) 0%,
    var(--Light-Royal-Blue-Background) 100%
  );
  border-radius: 0 0 3.2rem 3.2rem;
  box-shadow: 0rem 3rem 6rem var(--Shadow-Color);
}

.resultHeader {
  font-family: var(--Bold);
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--Navy-200);
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  background: linear-gradient(
    180deg,
    var(--Violet-Blue-Circle) 0%,
    var(--Persian-Blue-Circle) 100%
  );
  border-radius: 50%;
}

.score {
  font-family: var(--ExtraBold);
  font-size: 5.6rem;
  line-height: 5.6rem;
  color: var(--White);
}

.outOfText {
  font-family: var(--Bold);
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--Navy-200);
  opacity: 0.52;
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.feedbackHeadline {
  font-family: var(--Bold);
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: var(--White);
}

.feedback {
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: center;
  color: var(--Navy-200);
}

@media (min-width: 48em) {
  .resultContainer {
    padding: 4.5rem 6.9rem;
    border-radius: 3.2rem;
    gap: 3.2rem;
    box-shadow: none;
  }

  .resultHeader {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }

  .scoreContainer {
    width: 20rem;
    height: 20rem;
  }

  .score {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  .outOfText {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .feedbackContainer {
    gap: 1.6rem;
  }

  .feedbackHeadline {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .feedback {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}

@media (min-width: 90em) {
  .resultContainer {
    padding: 4.5rem 5.4rem;
    box-shadow: unset;
  }

  .feedback {
    width: 26rem;
  }
}
