.summaryContentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 1.6rem;
  border-radius: 1.2rem;
}

.summaryItemLabel {
  display: flex;
  gap: 1.6rem;
}

.itemHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.summaryItemScore {
  font-family: var(--Bold);
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: var(--Navy-950);
}

.outOf {
  opacity: 0.5;
}

@media (min-width: 48em) {
  .itemHeader {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .summaryItem {
    padding: 1.65rem 1.6rem;
  }

  .summaryItemScore {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}
